header {
  width: 100%;
  background-color: #f1f1f1;
  height: 31px;
  position: fixed;
  top: 0;
  color: #666;
  font-size: 12px;
  line-height: 30px;
  user-select: none;
  z-index: 5; }
  header .active {
    padding-bottom: 1px;
    background-color: #fff;
    border-color: #ccc;
    z-index: 1; }
  header .show {
    display: block; }
  header .hidden {
    display: none; }
  header h2 {
    font-size: 12px;
    margin-left: 8px;
    position: relative; }
    header h2 .addrSelect {
      position: absolute;
      left: 39px;
      top: 30px;
      width: 300px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      z-index: -1; }
      header h2 .addrSelect a {
        float: left;
        padding: 0 8px;
        font-size: 12px;
        color: #666;
        line-height: 24px;
        margin-right: 20px;
        font-weight: normal; }
      header h2 .addrSelect a:hover {
        background-color: #f4f4f4;
        color: #f10215; }
      header h2 .addrSelect .now {
        background-color: #f10215 !important;
        color: #fff !important; }
    header h2 p {
      display: inline-block;
      border-left: 1px solid #f1f1f1;
      border-right: 1px solid #f1f1f1;
      text-indent: 7px;
      padding-right: 7px;
      cursor: default; }
      header h2 p .arrow-down {
        margin-left: 7px;
        top: -2px; }

.topBar {
  z-index: 5;
  margin-right: -6px; }
  .topBar li {
    position: relative;
    float: left;
    margin-right: 6px;
    padding: 0 7px; }
    .topBar li .arrow-down {
      top: -2px;
      margin-left: 9px; }
    .topBar li .reg {
      margin-left: 5px;
      margin-right: 4px;
      color: #f10215; }
    .topBar li a {
      color: #666; }
    .topBar li a:hover {
      color: #c81623; }
  .topBar .iconApp {
    background: url(../imgs/app.png);
    width: 11px;
    height: 16px;
    float: left;
    margin-top: 7px;
    margin-right: 6px; }
  .topBar .myJdList {
    width: 265px;
    padding: 10px 0 10px 15px;
    border-top: 1px solid #f1f1f1; }
  .topBar .qrcode {
    width: 190px;
    height: 77px;
    padding: 15px 0; }
    .topBar .qrcode img {
      float: left;
      margin-left: 6px;
      margin-top: 3px;
      border: 1px solid #ccc;
      padding: 2px; }
    .topBar .qrcode h5 {
      float: left;
      font-size: 12px;
      line-height: 17px;
      margin-left: 5px;
      margin-top: 3px; }
    .topBar .qrcode .comment {
      float: left;
      margin-left: 5px;
      margin-top: 3px;
      width: 94px;
      color: #F10214;
      line-height: 14px; }
    .topBar .qrcode .download {
      width: 25px;
      height: 25px;
      background: url(../imgs/sprite_mobile.png) no-repeat;
      margin-left: 5px;
      margin-top: 3px; }
    .topBar .qrcode .iph {
      background-position: 0 0; }
    .topBar .qrcode .andr {
      background-position: 0 -26px; }
    .topBar .qrcode .ipad {
      background-position: 0 -52px; }
  .topBar .dropD {
    position: absolute;
    z-index: 5;
    display: none;
    left: -1px;
    top: 30px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff; }
    .topBar .dropD .item {
      width: 126px;
      height: 24px;
      float: left; }
      .topBar .dropD .item a {
        float: left;
        line-height: 24px; }
    .topBar .dropD .cusSer {
      width: 170px;
      padding: 10px 0; }
      .topBar .dropD .cusSer .item {
        width: 70px;
        padding-left: 15px; }
      .topBar .dropD .cusSer .item-title {
        font-weight: bold;
        padding-left: 15px; }
    .topBar .dropD dl {
      float: left;
      padding-left: 20px;
      line-height: 24px;
      width: 255px;
      border-left: 1px solid #ccc; }
      .topBar .dropD dl dt {
        font-weight: bold;
        margin-bottom: 5px; }
      .topBar .dropD dl .item {
        width: 45px; }
    .topBar .dropD .map-dl1 {
      width: 340px;
      border: none; }
    .topBar .dropD .map-dl3 {
      width: 315px; }
  .topBar .map {
    padding: 15px 0; }
  .topBar .dropD-right {
    left: auto;
    right: -1px; }
  .topBar .drop:hover {
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px; }
  .topBar .drop:hover .dropD {
    display: block; }

.topAdBanner {
  margin-top: 31px;
  z-index: -6;
  background-color: #e8153e; }
  .topAdBanner .wraper {
    position: relative;
    z-index: 0;
    cursor: pointer;
    overflow: hidden; }
    .topAdBanner .wraper .close {
      display: block;
      position: absolute;
      right: 7px;
      top: 7px;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      width: 20px;
      height: 20px;
      color: #fff;
      background-color: #2d2d2d;
      opacity: .3;
      filter: alpha(opacity=30);
      user-select: none; }

.searchBar {
  margin-top: 22px;
  position: relative;
  z-index: 0 !important; }
  .searchBar .search {
    position: relative;
    margin-top: 5px;
    margin-left: 92px; }
    .searchBar .search input {
      width: 458px;
      height: 32px;
      font-size: 14px;
      color: #989898;
      line-height: 32px;
      outline: none;
      text-indent: 7px;
      border: 2px solid #b61d1d; }
    .searchBar .search .go {
      width: 80px;
      height: 32px;
      background-color: #b61d1d;
      position: absolute;
      right: 2px;
      top: 2px;
      text-align: center;
      font-size: 16px;
      line-height: 32px;
      color: #fff;
      user-select: none;
      cursor: pointer; }
    .searchBar .search .tags {
      position: absolute;
      top: 45px;
      left: 1px;
      z-index: -2; }
      .searchBar .search .tags a {
        float: left;
        font-size: 12px;
        line-height: 12px;
        color: #666;
        margin-right: 15px; }
      .searchBar .search .tags a:hover {
        color: #c81623; }
      .searchBar .search .tags .red {
        color: #b61d1d; }
      .searchBar .search .tags .last {
        margin-right: 0; }
  .searchBar .myCart {
    position: relative;
    margin-top: 5px;
    width: 137px;
    height: 34px;
    background: url("../imgs/myCart.png") 21px 10px #f9f9f9 no-repeat;
    border: 1px solid #dfdfdf; }
    .searchBar .myCart .arrow-right {
      background: url(../imgs/arrow-right.png) no-repeat;
      width: 5px;
      height: 9px;
      margin-top: 13px;
      margin-left: 20px; }
    .searchBar .myCart .cartBuble {
      display: block;
      position: absolute;
      top: -4px;
      left: 105px;
      height: 10px;
      padding: 2px 5px;
      color: #fff;
      font-size: 9px;
      line-height: 10px;
      text-align: center;
      background-color: #c81623;
      border-radius: 7px 7px 7px 0; }
    .searchBar .myCart .myCartDropDown {
      position: absolute;
      padding: 10px 15px;
      width: 280px;
      right: -1px;
      top: 35px;
      border: 1px solid #dfdfdf;
      background-color: #fff;
      display: none;
      z-index: -1 !important; }
      .searchBar .myCart .myCartDropDown .empty {
        margin-left: 20px; }
      .searchBar .myCart .myCartDropDown .emptyP {
        font-size: 12px;
        color: #999;
        line-height: 49px; }
    .searchBar .myCart .cart {
      font-size: 12px;
      height: 34px;
      line-height: 34px;
      color: #666;
      margin-left: 43px; }
  .searchBar .myCart:hover {
    border-bottom: none;
    background-color: #fff;
    padding-bottom: 2px; }
  .searchBar .myCart:hover .myCartDropDown {
    display: block; }

/*# sourceMappingURL=header.css.map */
